
<div *ngIf="(damageTypesLoading$ | async) ||
            (participantsLoading$ | async) ||
            (featuresLoading$ | async) ||
            (conditionsLoading$ | async)
            ; else loaded">Loading...</div>

<ng-template #loaded>
  <div class="participant-edit-view">
    <form (ngSubmit)="onSubmit()" #f="ngForm" class="participant-edit-form">
      <label>Type: </label>
      <div>
        <label>
          <input type="radio" name="type" [value]="0" [(ngModel)]="type" required>Player
        </label>
        <label>
          <input type="radio" name="type" [value]="1" [(ngModel)]="type" required>Monster
        </label>
      </div>

      <!-- <div class="color-picker field"> -->
        <label>Color: </label><app-colors-popup [(ngModel)]="color" name="color"></app-colors-popup>
      <!-- </div> -->

      <label>Avatar:</label>
      <div class="avatar">
        <!-- <input type="file" name="avatar"> -->
        <app-avatar-uploader [ngModel]="avatarUrl" (ngModelChange)="avatarChanged($event)" name="avatarUrl"></app-avatar-uploader>
        <button type="button" (click)="deleteAvatar()" [class.hidden]="!avatarUrl">Delete avatar</button>
      </div>
  
      <!-- <div class="name field"> -->
        <label>Name:</label>
        <input type="text" [(ngModel)]="name" name="name" required>
      <!-- </div> -->
  
      <!-- <div class="initiativeModifier field"> -->
        <label>Initiative modifier:</label>
        <input type="number" [(ngModel)]="initiativeModifier" name="initiativeModifier" required>
      <!-- </div> -->
  
      <!-- <div class="hp field"> -->
        <label>HP:</label>
        <input type="number" [(ngModel)]="hp" name="hp" required min="0">
      <!-- </div> -->
  
      <!-- <div class="armorClass field"> -->
        <label>Armor class:</label>
        <input type="number" [(ngModel)]="armorClass" name="armorClass" required min="0">
      <!-- </div> -->
  
      <!-- <div class="speed field"> -->
        <label>Speed:</label>
        <input type="number" [(ngModel)]="speed" name="speed" required min="0">

        <label><!-- other speeds --></label>
        <div>
          <label>Swim</label>
          <input class="speed-extra" type="number" [(ngModel)]="swimSpeed" name="swimSpeed" min="0" />

          <label>Climb</label>
          <input class="speed-extra" type="number" [(ngModel)]="climbSpeed" name="climbSpeed" min="0" />

          <label>Fly</label>
          <input class="speed-extra" type="number" [(ngModel)]="flySpeed" name="flySpeed" min="0" />
        </div>
      <!-- </div> -->
  
      <!-- <div class="immunities field"> -->
        <label>Immunities:</label>
        <ng-select
            [items]="getImmunities(allDamageTypes$ | async, allConditions$ | async)"
            [multiple]="true"
            groupBy="type"
            [(ngModel)]="immunities"
            name="immunities"
            bindLabel="name"
            bindValue="id"
            [closeOnSelect]="false"
        >
          <ng-template ng-label-tmp let-item="item" let-clear="clear">
            <span class="ng-value-label">
              <div class="selected-damage-type-label">
                <div class="color" *ngIf="!!item.color" [ngStyle]="{backgroundColor: item.color}"></div>
                <span>{{item.name}}</span>
              </div>
            </span>
            <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
          </ng-template>
          <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index" let-search="searchTerm">
            <div class="option">
              <div class="color" [ngStyle]="{ backgroundColor: item.color ? item.color : transparent }"></div>
              <div class="name">{{item.name}}</div>
            </div>
          </ng-template>
        </ng-select>
      <!-- </div> -->

      <!-- <div class="resistances field"> -->
        <label>Resistances:</label>
        <ng-select
            [items]="allDamageTypes$ | async"
            [multiple]="true"
            [(ngModel)]="resistances"
            name="resistances"
            bindLabel="name"
            bindValue="id"
            [closeOnSelect]="false"
        >
          <ng-template ng-label-tmp let-item="item" let-clear="clear">
            <span class="ng-value-label selected-damage-type-label">
              <div class="selected-damage-type-label">
                <div class="color" *ngIf="!!item.color" [ngStyle]="{backgroundColor: item.color}"></div>
                <span>{{item.name}}</span>
              </div>
            </span>
            <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
          </ng-template>
          <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
            <div class="color" [ngStyle]="{ backgroundColor: item.color ? item.color : transparent }"></div>
            {{item.name}}
          </ng-template>
        </ng-select>
      <!-- </div> -->

      <!-- <div class="weaknesses field"> -->
        <label>Vulnerabilities:</label>
        <ng-select
            [items]="allDamageTypes$ | async"
            [multiple]="true"
            [(ngModel)]="weaknesses"
            name="weaknesses"
            bindLabel="name"
            bindValue="id"
            [closeOnSelect]="false"
        >
          <ng-template ng-label-tmp let-item="item" let-clear="clear">
            <span class="ng-value-label selected-damage-type-label">
              <div class="selected-damage-type-label">
                <div class="color" *ngIf="!!item.color" [ngStyle]="{backgroundColor: item.color}"></div>
                <span>{{item.name}}</span>
              </div>
            </span>
            <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
          </ng-template>
          <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
            <app-color-value [color]="item.color"></app-color-value>
            {{item.name}}
          </ng-template>
        </ng-select>
      <!-- </div> -->

      <label>Features:</label>
        <ng-select
            [items]="allFeatures$ | async"
            [multiple]="true"
            [(ngModel)]="features"
            name="features"
            bindLabel="name"
            bindValue="id"
            groupBy="type"
            [closeOnSelect]="false"
        >
          <ng-template ng-label-tmp let-item="item" let-clear="clear">
              <span class="ng-value-label selected-feature-label">
                <div class="selected-feature-label">
                  <app-color-value [color]="item.color" [showEmpty]="false"></app-color-value>
                  <span>{{item.name}}</span>
                </div>
              </span>
              <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
          </ng-template>
          <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
            <app-color-value [color]="item.color"></app-color-value>
            {{item.name}}
          </ng-template>
        </ng-select>

      <!-- <div class="comments field"> -->
        <label>Comments:</label>
        <textarea [(ngModel)]="comments" name="comments"></textarea>
      <!-- </div> -->
        <label>Size on map:</label>
        <input type="number" class="number-input" [(ngModel)]="mapSize" name="mapSize">
        <!-- <div>
          <label>W: </label>
          <input type="number" class="number-input" [(ngModel)]="mapSizeX" name="mapSizeX">
          <label>H: </label>
          <input type="number" class="number-input" [(ngModel)]="mapSizeY" name="mapSizeY">
        </div> -->
      <div class="full-table-cell error-message" *ngIf="!!errorMessage">{{errorMessage}}</div>
      <div>
        <button type="submit" class="full-table-cell" [disabled]="!f.valid">Save</button>
      </div>
    </form>
  </div>
</ng-template>
