@import '../../../../assets/scss/partials/colors';
@import '../../../../assets/scss/partials/shared';

.name-filter {
  margin-top: 1rem;
}

.participants-table {
  list-style-type: none;
  padding: 0;

  display: grid;
  //                     color  name          type    ini,hp,armr,spd  immune,resist,weak    commts del
  grid-template-columns: 1.5rem max-content max-content repeat(7, max-content)                8rem 3.5rem;
  margin: 1rem 0;

  &>* {
    padding: 0.5rem 0.25rem;
  }

  .odd {
    background-color: $lightgrey;
  }

  &.short-grid {
    //                     color  name      ini,hp,armr,spd  immune,resist,weak    commts del
    grid-template-columns: 1.5rem max-content repeat(7, max-content) 8rem 3.5rem;
  }
}

.number-field {
  text-align: left;
}

.damage-types-list {
  display: flex;
  flex-direction: column;
}

.damage-type-item {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.buttons {
  display: flex;
}