
<div *ngIf="editMode;else viewTemplate">
  <app-encounter-participant-edit
    [participant]="participant"
    [(expanded)]="expanded"
    (changesSaved)="applyChanges($event)"
    (changesCancelled)="cancelChanges()"
    (delete)="deleteParticipant()"
  ></app-encounter-participant-edit>
</div>

<ng-template #viewTemplate>
  <div class="participant-view">
    <div class="participant-view__header">
      <div class="participant-view__expand-button">
        <button 
              type="button" 
              class="expand-button" 
              [class.expanded]="expanded"
              (click)="switchExpanded()">
          <fa-icon [icon]="faRight"></fa-icon>
        </button>
      </div>
      <div class="color">
        <app-color-value [color]="participant.color"></app-color-value>
      </div>
      <div class="name">
        {{ participant.name }}
      </div>
  
      <div class="initiative">
        <div class="total-ini">
          {{ participant.initiative + participant.initiativeModifier }}
        </div>  (<div class="rolled-ini">
          <input type="number" min="1" max="20" [(ngModel)]="participant.initiative" class="ini-input">
          <button type="button" class="roll-ini-button" (click)="rollInitiative()">
            <fa-icon [icon]="d20Icon"></fa-icon>
          </button>
          </div>
          {{ '&nbsp;+&nbsp;' }}
          <div class="ini-mod">
            {{ participant.initiativeModifier }}
          </div>)
      </div>
  
      <button
        type="button"
        class="tinker-button"
        (click)="editParticipant()"
      >
        <fa-icon [icon]="tinkerIcon"></fa-icon>
      </button>
      <button
        type="button"
        class="delete-button"
        (click)="deleteParticipant()"
      >
        <fa-icon [icon]="deleteIcon"></fa-icon>
      </button>
    </div>
    
    <div class="participant-view__details" [@collapse]="expanded ? 'expanded' : 'collapsed'">
      <div class="detail">
        <div class="detail-label">HP:</div>
        <div class="detail-value">{{participant.currentHp + '&nbsp;/&nbsp;' + participant.maxHp }}&nbsp;&nbsp;</div>
        <div class="detail-label">Temp: </div>
        <div class="detail-value">{{  participant.temporaryHp && participant.temporaryHp > 0 ? participant.temporaryHp : '-' }}</div>
      </div>
      <div class="detail">
        <div class="detail-label">Armor class:</div>
        <div class="detail-value">{{participant.armorClass}}</div>
      </div>
      <div class="detail">
        <div class="detail-label">Speed:</div>
        <div class="detail-value">{{participant.speed}}</div>
      </div>
      
      <div class="damage-types-list">
        <div class="detail-label">
          Immunities:
        </div>
        <div *ngIf="!participant.immunityIds || participant.immunityIds.length === 0;else immunitiesList">None</div>
        <ng-template #immunitiesList>
          <div class="damage-type" *ngFor="let immunity of participant.immunityIds">
            <div class="color">
              <app-color-value [color]="getImmunity(immunity).color"></app-color-value>
            </div>
            <div class="damage-type-name">
              {{ getImmunity(immunity).name }}
            </div>
          </div>
        </ng-template>
      </div>
  
      <div class="damage-types-list">
        <div class="detail-label">
          Resistances:
        </div>
        <div *ngIf="!participant.resistanceIds || participant.resistanceIds.length === 0;else resistancesList">None</div>
        <ng-template #resistancesList>
          <div class="damage-type" *ngFor="let resistance of participant.resistanceIds">
            <div class="color">
              <app-color-value [color]="getDamageType(resistance).color"></app-color-value>
            </div>
            <div class="damage-type-name">
              {{ getDamageType(resistance).name }}
            </div>
          </div>
        </ng-template>
      </div>
  
      <div class="damage-types-list">
        <div class="detail-label">
          Vulnerabilities:
        </div>
        <div *ngIf="!participant.vulnerabilityIds || participant.vulnerabilityIds.length === 0;else vulnerabilitiesList">None</div>
        <ng-template #vulnerabilitiesList>
          <div class="damage-type" *ngFor="let vulnerability of participant.vulnerabilityIds">
            <div class="color">
              <app-color-value [color]="getDamageType(vulnerability).color"></app-color-value>
            </div>
            <div class="damage-type-name">
              {{ getDamageType(vulnerability).name }}
            </div>
          </div>
        </ng-template>
      </div>

      <div class="features-list">
        <div class="detail-label">
          Features:
        </div>
        <div *ngIf="!participant.featureIds || participant.featureIds.length === 0;else featuresList">None</div>
        <ng-template #featuresList>
          <div class="feature" *ngFor="let featureId of participant.featureIds">
            <div class="color">
              <app-color-value [color]="getFeature(featureId).color"></app-color-value>
            </div>
            <div class="feature-name">
              {{ getFeature(featureId).name }}
            </div>
          </div>
        </ng-template>
      </div>
  
      <div class="conditions-list">
        <div class="detail-label">
          Conditions:
        </div>
  
        <div *ngIf="!participant.conditionIds || participant.conditionIds.length === 0;else conditionsList">None</div>
        <ng-template #conditionsList>
          <div class="condition" *ngFor="let condition of participant.conditionIds">
            <div class="color">
              <app-color-value [color]="getCondition(condition).color"></app-color-value>
            </div>
            <div class="condition-name">
              {{ getCondition(condition).name }}
            </div>
          </div>
        </ng-template>
      </div>
      <div class="detail comments">
        <div class="detail-label">Comments:</div>
        <div class="detail-value">{{ participant.comments }}</div>
      </div>
    </div>
  </div>
</ng-template>

