/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
}

:focus {
  outline:none;
}
::-moz-focus-inner {
  border:0;
}

html {
  height: 100%;
}