/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";

* {
  box-sizing: border-box;
}

:focus {
  outline:none;
}
::-moz-focus-inner {
  border:0;
}

html {
  height: 100%;
}