@import '../../../../assets/scss/partials/colors';
@import '../../../../assets/scss/partials/shared';

.section-header {
  margin-top: 1rem;
}

.name-filter {
  margin-top: 1rem;
  max-width: 13rem;
}

.damage-types-grid {
  display: grid;
  grid-template-columns: 1rem max-content max-content 2rem;
  column-gap: 1rem;
  row-gap: 0.5rem;
  margin: 1rem 0;

  &.short-grid {
    grid-template-columns: 1rem max-content 2rem;
  }
}
