@import '../../../../assets/scss/partials/colors';
@import '../../../../assets/scss/partials/shared';

.damage-types-view {
  margin: 0 1.5rem;
}

.section-header {
  margin: 1rem 0 0.5rem 0;
  font-size: 1.5rem;
  font-weight: 600;
  color: $blue;
}

.name-filter {
  margin-top: 1rem;
  max-width: 13rem;
}

.damage-types-grid {
  display: grid;
  grid-template-columns: 1rem max-content max-content 2rem;
  column-gap: 1rem;
  row-gap: 0.5rem;
  margin: 1rem 0;

  &.short-grid {
    grid-template-columns: 1rem max-content 2rem;
  }
}

.tab-view {
  display: inline-block;
}