<div class="map-container">
  <app-popup 
      [floating]="true"
      [resizable]="false"
      [showCloseButton]="true" 
      windowName="Load new map">
    <ng-template #popupToggleTemplate let-toggle=toggle>
      <div class="form-row">
        <button type="button" class="blue-button" (click)="toggle()">Load new map</button>
        <button type="button" class="blue-button spaced-button" (click)="deleteMap()">Delete map</button>
      </div>
    </ng-template>

    <ng-template #popupInsidesTemplate let-hide="hide">
      <div class="new-map-form form">
        <div class="form-row">
          <input type="file" name="mapImage" (change)="fileChanged($event)"  access=".png,.jpg">
        </div>
        <div class="form-row info" [class.error]="fileSizeError">No more than 5Mb per image pls!</div>
        <div class="form-row">
          <label>Grid width:</label>
          <input type="number" name="gridWidth" class="number-input" [(ngModel)]="newMapGridWidth">
        </div>
        <div class="form-row">
          <label>Grid height:</label>
          <input type="number" name="gridHeight" class="number-input" [(ngModel)]="newMapGridHeight">
        </div>
        <div class="form-row">
          <button type="button" (click)="loadNewMap(hide)">Load</button>
          <button type="button" (click)="hide()">Cancel</button>
        </div>
      </div>
    </ng-template>
  </app-popup>

  <div *ngIf="(percentage$ | async) as percent" [hidden]="percent && percent >= 100">
    <progress class="progress " 
              [value]="percent" 
              max="100">        
    </progress>
    <span> {{ percent | number }}%</span>
  </div>
  
  <div class="loading-map" *ngIf="loadingNewMap">
    <app-loading-spinner></app-loading-spinner>
  </div>

  <div class="horizontal-form" *ngIf="map && !loadingNewMap">
    <div class="form-row">
      <input type="color" id="gridColor" name="gridColor" [(ngModel)]="mapGridColor">
      <label for="gridColor">Grid color</label>
    </div>
    <div class="form-row">
      <input type="checkbox" name="snapToGrid" id="snapToGrid" [(ngModel)]="snapToGrid">
      <label for="snapToGrid">Snap to grid</label>
    </div>
    <div class="form-row">
      <input type="checkbox" name="showGrid" id="showGrid" [(ngModel)]="showGrid">
      <label for="showGrid">Show grid</label>
    </div>

    <div class="form-row">
      <app-popup 
          [floating]="true"
          [resizable]="false"
          [showCloseButton]="true" 
          windowName="Change grid size">
        <ng-template #popupToggleTemplate let-toggle=toggle>
          <div class="form-row">
            <button type="button" (click)="toggle()">Change grid size</button>
          </div>
        </ng-template>

        <ng-template #popupInsidesTemplate let-hide="hide">
          <div>
            <div class="form-row">
              <label>W:</label>
              <input type="number" class="number-input" [(ngModel)]="updatedMapGridWidth">
              <label>H:</label>
              <input type="number" class="number-input" [(ngModel)]="updatedMapGridHeight">
              <button type="button" (click)="updateGridSize();hide();">Save</button>
              <button type="button" (click)="revertGridSizeFieldValues();hide()">Cancel</button>
            </div>
          </div>
        </ng-template>
      </app-popup>
    </div>    
  </div>

  <div class="map-and-list" *ngIf="map && !loadingNewMap">
    <div class="map">
      <img
          [src]="map.mapUrl" 
          class="map-img" 
          #mapImageElement>
  
          <div class="grid"
          [ngStyle]="{'grid-template-columns': '2rem repeat(' + this.map.gridWidth + ',' + gridCellWidth + 'px)',
                      'grid-template-rows': '2rem repeat(' + this.map.gridHeight + ',' + gridCellHeight + 'px)'}"
          *ngIf="map.gridHeight != null && map.gridWidth != null">
        <div class="grid-cell top-left-cell">
          <!-- top left empty square -->
        </div>
        <div 
            class="grid-cell vertical-cell-index" 
            *ngFor="let horizontalCell of horizontalMapIndices">
          {{ horizontalCell }}
          <!-- top indices row -->
        </div>
        <ng-container *ngFor="let verticalCell of verticalMapIndices; let j = index">
          <div 
              class="grid-cell horizontal-cell-index">
            {{ verticalCell }}
            <!-- left indices column -->
          </div>
  
          <div *ngFor="let cell of horizontalMapIndices; let i = index"
              [ngStyle]="{'border-right-color': (showGrid && i !== (this.map.gridWidth - 1) ) ? mapGridColor : 'transparent',
                          'border-bottom-color': (showGrid && j !== (this.map.gridHeight - 1)) ? mapGridColor : 'transparent'}"
              class="grid-cell">
            <!-- cell[i][j] -->
          </div>
        </ng-container>
      </div>
  
      <div class="participants-on-map"
          [ngStyle]="{
            'width': mapImageElement.getBoundingClientRect().width + 'px',
            'height': mapImageElement.getBoundingClientRect().height + 'px'
          }"
          (drop)="dropParticipantOnMap($event)" 
          (dragover.out-zone)="dragParticipantOverMap($event)"
          >
        <div 
          *ngFor="let participant of participantsOnMap; let i = index"
          class="participant-on-map"
          cdkDrag
          cdkDragBoundary=".participants-on-map"
          (cdkDragEnded)="dragMapParticipantEnded($event, i)"
          [style.width.px]="gridCellWidth * ((participant.participant$ | async).mapSizeX || 1)"
          [style.height.px]="gridCellHeight * ((participant.participant$ | async).mapSizeY || 1)"
          [style.z-index]="(i + 1)"
          [style.top.px]="participant.initialCoord.y"
          [style.left.px]="participant.initialCoord.x"
        >
          <app-participant-on-map 
              [participant]="participant.participant$ | async"
              [initialInfoPos]="participant.initialInfoPos"
              (infoMoved)="onMapParticipantInfoMoved($event, i)"
          ></app-participant-on-map>
        </div>
      <!-- TODO -->
      </div>
    </div>
    <div class="participants-container">
      <div class="participants-list">
        <div class="participant-row" *ngFor="let participant of (encounterParticipants$ | async)" >
          <div 
              class="participant"
              [class.undraggable]="isParticipantOnMap(participant.id)"
              [draggable]="!isParticipantOnMap(participant.id)" 
              (dragstart)="startDraggingListedParticipant($event, participant, draggedIcon)"
              (dragend)="stopDraggingListedParticipant($event)"> 
            <div #draggedIcon
                class="participant-icon" 
                [style.border-color]="participant.color || 'transparent'"
                [style.border-width.px]="participant.color == null ? 0 : 3"
                [style.background-color]="participant.color || 'transparent'">
              <img *ngIf="participant.avatarUrl != null" [src]="participant.avatarUrl" class="participant-avatar">
              <div class="participant-letter" *ngIf="participant.avatarUrl == null">
                {{ iconText(participant.name) }}
              </div>
            </div>
            <div class="participant-name">
              {{ participant.name }}
            </div>
          </div>

          <label>Size:</label>
          <div>{{(participant.mapSizeX || 1) + 'x' + (participant.mapSizeY || 1)}}</div>
          <app-popup 
              [floating]="true"
              [resizable]="false"
              [showCloseButton]="true" 
              windowName="Change size on map">
            <ng-template #popupToggleTemplate let-toggle=toggle>
              <div class="form-row">
                <button type="button" (click)="toggle()">Change</button>
              </div>
            </ng-template>

            <ng-template #popupInsidesTemplate let-hide="hide">
              <div>
                <div class="form-row">
                  <label>W:</label>
                  <input 
                      class="number-input" 
                      type="number" 
                      name="widthOnMap" 
                      [ngModel]="participant.mapSizeX || 1" #widthInput>
                  <label>H:</label>
                  <input 
                      class="number-input" 
                      type="number" 
                      name="heightOnMap" 
                      [ngModel]="participant.mapSizeY || 1" #heightInput>
                </div>
                <div class="form-row">
                  <button type="button" (click)="updateParticipantSizes(widthInput.value, heightInput.value, participant);hide()">Save</button>
                  <button type="button" (click)="revertParticipantSizes(widthInput, heightInput, participant);hide()">Revert</button>
                </div>
              </div>
            </ng-template>
          </app-popup>
          <button 
              class="blue-button"
              [disabled]="!isParticipantOnMap(participant.id)"
              type="button" 
              (click)="removeParticipantFromMap(participant.id)">
            <fa-icon [icon]="exitIcon"></fa-icon>
            Remove from map
          </button>
        </div>
      </div >
    </div>
  </div>
</div>