<div *ngIf="(encountersLoaded$ | async); else loaded">

</div>

<ng-template #loaded>

  <button type="button" class="button" [routerLink]="'/encounters/new'">Start a new one</button>

  <div class="encounters-table">
    <div class="encounters-table__header">
      <div class="column-header">
        <div class="column-header__name">Name</div>
        <div class="column-header__sort-asc"><fa-icon [icon]="sortAscIcon"></fa-icon></div>
        <div class="column-header__sort-desc"><fa-icon [icon]="sortDescIcon"></fa-icon></div>
        <div class="column-header__filter"><fa-icon [icon]="filterIcon"></fa-icon></div>
      </div>

      <div class="column-header">
        <div class="column-header__name">Created</div>
        <div class="column-header__sort-asc"><fa-icon [icon]="sortAscIcon"></fa-icon></div>
        <div class="column-header__sort-desc"><fa-icon [icon]="sortDescIcon"></fa-icon></div>
        <div class="column-header__filter"><fa-icon [icon]="filterIcon"></fa-icon></div>
      </div>

      <div class="column-header">
        <div class="column-header__name">Modified</div>
        <div class="column-header__sort-asc"><fa-icon [icon]="sortAscIcon"></fa-icon></div>
        <div class="column-header__sort-desc"><fa-icon [icon]="sortDescIcon"></fa-icon></div>
        <div class="column-header__filter"><fa-icon [icon]="filterIcon"></fa-icon></div>
      </div>
    </div>
    <div class="encounters-table__item" *ngFor="let encounter of (encounters$ | async)">
      <app-encounter-view></app-encounter-view>
    </div>
  </div>

  

</ng-template>