<div *ngIf="(encountersLoading$ | async); else loaded">
  Loading
</div>

<ng-template #loaded>

  <button type="button" class="button" [routerLink]="'/encounters/new'">Start a new one</button>

  <div class="encounters-table">
    <!-- table header -->
    <div class="column-header">
      <div class="column-header__name">
        <button (click)="switchSortOrder('name')">
          Name
        </button>
        <div class="sorter-icon">
          <app-sort-icon 
              [isActive]="isSortingByName()" 
              [isSortUp]="isSortingAsc()"
              (sortingSwitched)="changeSortOrder('name', $event)"
          ></app-sort-icon>
        </div>
      </div>
      <div class="column-header__filter">
        <app-filter-popup 
          [filterType]="'string'" 
          [ngModel]="nameFilter" 
          name="nameFilter"
          (ngModelChange)="onNameFilterChanged($event)"></app-filter-popup>
      </div>
    </div>

    <div class="column-header">
      <div class="column-header__name">
        <button (click)="switchSortOrder('createdDate')">
          Created
        </button>
        <div class="sorter-icon">
          <app-sort-icon 
              [isActive]="isSortingByCreatedDate()" 
              [isSortUp]="isSortingAsc()"
              (sortingSwitched)="changeSortOrder('createdDate', $event)"
          ></app-sort-icon>
        </div>
      </div>
      <div class="column-header__filter">
        <app-filter-popup 
          [filterType]="'dates'" 
          name="createdDatesFilter"
          [ngModel]="createdDatesFilter"
          (ngModelChange)="onCreatedDateFilterChanged($event)"></app-filter-popup>
      </div>
    </div>

    <div class="column-header">
      <div class="column-header__name">
          <button (click)="switchSortOrder('lastModifiedDate')">
            Modified
          </button>
          <div class="sorter-icon">
            <app-sort-icon 
                [isActive]="isSortingByModifiedDate()" 
                [isSortUp]="isSortingAsc()"
                (sortingSwitched)="changeSortOrder('lastModifiedDate', $event)"
            ></app-sort-icon>
          </div>
      </div>
      <div class="column-header__filter">
        <app-filter-popup 
          [filterType]="'dates'" 
          name="modifiedDatesFilter"
          [ngModel]="modifiedDatesFilter"
          (ngModelChange)="onModifiedDateFilterChanged($event)"></app-filter-popup>
      </div>
    </div>

    <div class="column-header"><!-- Delete column --></div>

    <!-- table insides -->
    <ng-container *ngFor="let encounter of (encounters$ | async)">
      <div class="encounter-name">{{ encounter.name }} </div>
      <div class="encounter-created">{{ encounter.createdDate | toDate }} </div>
      <div class="encounter-name">{{ encounter.lastModifiedDate | toDate }} </div>
      <button class="delete-button" (click)="onDeleteEncounter(encounter.id)">X</button>
    </ng-container>
  </div>
</ng-template>