.filter-container {
  display: inline-block;
}


.string-filter {
  display: flex;
  flex-direction: column;
  padding: 0.1rem;

  .string-filter-text {
    width: 12rem;
  }
}

.dates-filter {
  display: flex;
  flex-direction: column;

  .filter-date-input,
  .buttons {
    display: flex;
    margin: 0.25rem 0;
  }

  .date-label {
    width: 5rem;
  }

  .date-input {
    width: 8rem;
    margin-left: 0.5rem;
  }
  
}

.list-filter {
  display: flex;
  flex-direction: column;
}

.list-filter-item {
  display: flex;
  align-items: center;
  margin: 0.25rem 0;
}

.buttons {
  display: flex;
  margin-top: 0.5rem;

  &>* {
    margin-right: 0.5rem;
  }
}

.filter-icon {
  position: relative;

  display: inline-block;
}

.red-dot {
  position: absolute;
  top: -0.2rem;
  right: -0.2rem;
  background-color: red;
  border-radius: 50%;
  border: 1px solid white;
  width: 0.45rem;
  height: 0.45rem;;
}