<div class="colors-popup">
  <div class="selected-value" (click)="onSwitchColorSelector()">
    <div class="no-color" *ngIf="!selectedColor"><fa-icon [icon]="noColorIcon"></fa-icon></div>
    <div class="selected-color" *ngIf="!!selectedColor" [ngStyle]="{'backgroundColor': selectedColor}">{{''}}</div>
  </div>
  
  
  <div class="colors-palette" [class.hidden]="!showPopup">
    <div class="colors-palette-header">Select a color:</div>
    <div class="colors-palette-grid">
      <div 
          class="color" 
          *ngFor="let colorOption of colors" 
          [ngStyle]="{'backgroundColor': colorOption}" 
          (click)="onSelectColor(colorOption)">
        <fa-icon *ngIf="selectedColor == colorOption" [icon]="checkboxIcon" class="selected-icon"></fa-icon>
      </div>
    </div>
    <button type="button" (click)="onSelectColor(null)">Clear</button>
    <button type="button" (click)="onCloseColorSelector()">Close</button>
  </div>
</div>
