<div *ngIf="(encountersLoading$ | async) ||
            (participantTemplatesLoading$ | async) ||
            (participantsLoading$ | async) ||
            (damageTypesLoading$ | async) ||
            (conditionsLoading$ | async)
            ;else loaded">Loading...</div>

<ng-template #loaded>

  <form (ngSubmit)="onSubmitForm()" #f="ngForm">
    <div class="error-message" *ngIf="errorMessage !== null">{{errorMessage}}</div>


    <input 
        class="encounter-name"
        type="text" 
        placeholder="Give it a name!" 
        [(ngModel)]="encounterName"
        name="encounterName"
        required >
  
    <div class="buttons">
      <button 
          type="button"
          class="play-button"
          (click)="onSubmitForm(true)"
          [disabled]="!f.valid"
      >
        <fa-icon [icon]="playIcon"></fa-icon>
        Play!
      </button>
      <button 
          type="button"
          class="save-button"
          (click)="onSubmitForm(false)"
          [disabled]="!f.valid"
      >
        Save
      </button>
    </div>
  
    <div class="participants-view">
      <div class="templates-list">
        <div class="tab-buttons">
          <button 
              type="button" 
              class="tab-button" 
              [class.active]="isTemplateTabActive('players')"
              (click)="setTemplateTabActive('players')">
            Players
          </button>
          <button 
              type="button" 
              class="tab-button" 
              [class.active]="isTemplateTabActive('monsters')"
              (click)="setTemplateTabActive('monsters')">
            Monsters
          </button>
        </div>

        <div class="all-players-view tab-view" [class.hidden]="!isTemplateTabActive('players')">
          <app-participant-templates-list 
              [type]="0" 
              class="players-list"
              (participantAdded)="addParticipant($event)"></app-participant-templates-list>
        </div>
  
        <div class="all-monsters-view tab-view" [class.hidden]="!isTemplateTabActive('monsters')">
          <app-participant-templates-list 
              [type]="1" 
              class="monsters-list"
              (participantAdded)="addParticipant($event)"></app-participant-templates-list>
        </div>
      </div>
  
      <div class="encounter-participants-view">
        <div>
          <button 
              type="button"
              class="generate-ini-button"
              (click)="generateInitiatives()">
              <fa-icon [icon]="rollIcon"></fa-icon>
            Generate missing initiative values
          </button>
        </div>
        <div class="encounter-players-view">
          <div class="encounter-players-header">Added players</div>
          <app-encounter-participants-list 
              [participants]="addedPlayers"
              (participantChanged)="changePlayer($event)"
              (participantDeleted)="deletePlayer($event)">
          </app-encounter-participants-list>
        </div>
        <div class="encounter-monsters-view">
          <div class="encounter-monsters-header">Added monsters</div>
          <app-encounter-participants-list 
              [participants]="addedMonsters"
              (participantChanged)="changeMonster($event)"
              (participantDeleted)="deleteMonster($event)">
          </app-encounter-participants-list>
        </div>
      </div>
    </div>
  </form>
</ng-template>
