@import '../../../assets/scss/partials/colors';
@import '../../../assets/scss/partials/shared';

.edit-encounter-view {
  height: calc(100% - 4.5rem);
  display: flex;
  flex-direction: column;
}

.encounter-name {
  margin: 0 1rem 2rem 1rem;
  width: 80%;
  max-width: 40rem;
  font-size: 2rem;
  font-weight: 700;
  border: none;
  border-bottom: 3px dashed $blue;
  color: $blue;

  &::placeholder {
    color:rgb(196, 196, 196);
  }
}

.buttons {
  display: flex;
  align-items: center;
  margin-left: 1rem;

  height: 4rem;

  button {
    margin-right: 1rem;
    padding: 1rem 2rem;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    border: 1px solid $blue;

    &:hover {
      padding: 1.5rem 2.5rem;
    }

    &:disabled {
      border-color: grey;
      cursor: default;
      
      &:hover {
        padding: 1rem 2rem;
      }
    }
  }

  .play-button {
    background-color: $blue;
    color: white;

    fa-icon {
      margin-right: 0.5rem;
    }

    &:disabled {
      background-color: grey;
      
    }
  }

  .save-button {
    color: $blue;
    background-color: white;

    &:disabled {
      color: grey;
    }
  }
}

.participants-view {
  display: flex;
  flex-grow: 1;

  &>* {
    margin: 0 1rem;
  }
}

.encounter-player-item {
  display: flex;
}

.monster-template__dropdown {
  display: inline-block;
}

.monster-template__add-button {
  display: inline-block;
}

.encounter-monsters-view {
  display: flex;
  flex-direction: column;
}

.encounter-monster-item {
  display: flex;
}


