<div *ngIf="(encountersLoading$ | async) ||
            (participantTemplatesLoading$ | async) ||
            (participantsLoading$ | async) ||
            (damageTypesLoading$ | async) ||
            (conditionsLoading$ | async) ||
            (featuresLoading$ | async)
            ;else loaded">Loading...</div>

<ng-template #loaded>

  <form (ngSubmit)="onSubmitForm()" #f="ngForm" class="edit-encounter-view">
    <div class="error-message" *ngIf="errorMessage !== null">{{errorMessage}}</div>
    <input 
        class="encounter-name"
        type="text" 
        placeholder="Give it a name!" 
        [(ngModel)]="encounterName"
        name="encounterName"
        required >
  
    <div class="buttons">
      <button 
          type="button"
          class="play-button"
          (click)="onSubmitForm(true)"
      >
      <!--           [disabled]="!f.valid" -->
        <fa-icon [icon]="playIcon"></fa-icon>
        Play!
      </button>
      <button 
          type="button"
          class="save-button"
          (click)="onSubmitForm(false)"
      >
        Save
      </button>
    </div>
  
    <div class="participants-view">
      <app-add-participants-view (onParticipantAdded)="addParticipant($event)"></app-add-participants-view>
  
      <app-setup-added-participants-view [(ngModel)]="addedParticipants" name="addedParticipants"></app-setup-added-participants-view>
    </div>
  </form>
</ng-template>
