<div class="participant-view">
  <div class="participant-view__header">
    <div class="participant-view__expand-button">
      <button 
            type="button" 
            class="expand-button" 
            [class.expanded]="expanded"
            (click)="switchExpanded()">
        <fa-icon [icon]="faRight"></fa-icon>
      </button>
    </div>
    <div class="color">
      <app-color-value [color]="participantTemplate.color"></app-color-value>
    </div>
    <div class="name">
      {{ participantTemplate.name }}
    </div>

    <div>
      <button
        type="button"
        class="add-button"
        (click)="addParticipant()"
      >
        Add
      </button>
    </div>
  </div>
  
  <div class="participant-view__details" [@collapse]="expanded ? 'expanded' : 'collapsed'">
    <div class="detail" *ngIf="participantTemplate.avatarUrl">
      <img [src]="participantTemplate.avatarUrl">
    </div>
    <div class="detail">
      <div class="detail-label">Ini Mod:</div>
      <div class="detail-value">{{participantTemplate.initiativeModifier}}</div>
    </div>
    <div class="detail">
      <div class="detail-label">Max HP:</div>
      <div class="detail-value">{{participantTemplate.maxHp}}</div>
    </div>
    <div class="detail">
      <div class="detail-label">Armor class:</div>
      <div class="detail-value">{{participantTemplate.armorClass}}</div>
    </div>
    <div class="detail">
      <div class="detail-label">Speed:</div>
      <div class="detail-value">
        {{participantTemplate.speed}}
        {{getExtraSpeeds(participantTemplate)}}
      </div>
    </div>
    
    <div class="damage-types-list">
      <div class="detail-label">
        Immunities:
      </div>
      <div class="damage-type" *ngFor="let immunity of participantTemplate.immunityIds">
        <div class="color">
          <app-color-value [color]="getImmunity(immunity).color"></app-color-value>
        </div>
        <div class="damage-type-name">
          {{ getImmunity(immunity).name }}
        </div>
      </div>
    </div>

    <div class="damage-types-list">
      <div class="detail-label">
        Resistances:
      </div>
      <div class="damage-type" *ngFor="let resistance of participantTemplate.resistanceIds">
        <div class="color">
          <app-color-value [color]="getDamageType(resistance).color"></app-color-value>
        </div>
        <div class="damage-type-name">
          {{ getDamageType(resistance).name }}
        </div>
      </div>
    </div>

    <div class="damage-types-list">
      <div class="detail-label">
        Vulnerabilities:
      </div>
      <div class="damage-type" *ngFor="let vulnerability of participantTemplate.vulnerabilityIds">
        <div class="color">
          <app-color-value [color]="getDamageType(vulnerability).color"></app-color-value>
        </div>
        <div class="damage-type-name">
          {{ getDamageType(vulnerability).name }}
        </div>
      </div>
    </div>

    <div class="features-list">
      <div class="detail-label">
        Features:
      </div>
      <div class="feature" *ngFor="let featureId of participantTemplate.featureIds">
        <div class="color">
          <app-color-value [color]="getFeature(featureId).color"></app-color-value>
        </div>
        <div class="damage-type-name">
          {{ getFeature(featureId).name }}
        </div>
      </div>
    </div>

    <div class="detail">
      <div class="detail-label">Size on Map:</div>
      <div class="detail-value">{{(participantTemplate.mapSizeX || 1) + 'x' + (participantTemplate.mapSizeY || 1)}}</div>
    </div>
    <br>
  </div>
</div>