<div class="encounter-play-view">
  <div class="encounter-name">
    {{encounter.name}}
  </div>

  <div class="buttons">
    <button type="button" class="next-move-button" (click)="nextMove()">
      <fa-icon [icon]="activeParticpantIcon"></fa-icon>
      {{ encounter.activeParticipantId == null ? 'First move' : 'Next move' }}
    </button>
  </div>

  <div class="participants-list">
    
    <!-- Headers -->

    <div class="column-header">
      <!-- Active player marker -->
    </div>
    <div class="column-header">
      Name
    </div>
    <div class="column-header">
      Ini
    </div>
    <div class="column-header">
      HP
    </div>
    <div class="column-header">
      AC
    </div>
    <div class="column-header">
      Speed
    </div>
    <div class="column-header">
      Conditions
    </div>
    <div class="column-header">
      Vulnerabilities
    </div>
    <div class="column-header">
      Immunities
    </div>
    <div class="column-header">
      Resistances
    </div>
    <div class="column-header">
      Advantages
    </div>
    <div class="column-header">
      Comments
    </div>

    <!-- internals -->

    <ng-container *ngFor="let participant of (allParticipants$ | async); let i = index">

      <div class="active-participant-marker" [class.odd]="i % 2 === 0">
        <fa-icon [icon]="activeParticpantIcon" *ngIf="isActive(participant)"></fa-icon>
      </div>

      <div class="participant-name" [class.odd]="i % 2 === 0">
        <app-color-value [color]="participant.color" [showEmpty]="false"></app-color-value>
        <div>{{participant.name}}</div>
      </div>

      <div class="participant-ini" [class.odd]="i % 2 === 0">
        {{(participant.initiative + participant.initiativeModifier) }} 
        <!-- &nbsp;&#x28; {{ participant.initiative }} &nbsp;+&nbsp; {{ participant.initiativeModifier }} &#x29; -->
      </div>

      <div class="participant-hp" [class.odd]="i % 2 === 0">
        <div class="hp-buttons">
          <button type="button" class="heal-button" (click)="changeHp(participant, dmgInput.value, true); dmgInput.value = null">
            Heal
          </button>
          <input type="number" min="0" class="dmg-input" #dmgInput>
          <button type="button" class="dmg-button" (click)="changeHp(participant, dmgInput.value, false); dmgInput.value = null">
            Damage
          </button>
        </div>
        <div class="hp-values">
          <div class="hp-value-header">Current</div>
          <div></div>
          <div class="hp-value-header">Max</div>
          <div class="hp-value-header">Temp</div>

          <div class="hp-value-number">
            <input 
              type="number"
              min="0"
              [ngModel]="participant.currentHp"
              (ngModelChange)="changeCurrentHp(participant, $event)"
              class="hp-input">
          </div>
          <div class="hp-value-comment">/</div>
          <div class="hp-value-number">
            <input 
              type="number"
              min="0"
              [ngModel]="participant.maxHp"
              (ngModelChange)="changeMaxHp(participant, $event)"
              class="hp-input">
          </div>
          <div class="hp-value-number">
            <input 
                type="number"
                min="0"
                [ngModel]="participant.temporaryHp"
                (ngModelChange)="changeTempHp(participant, $event)"
                class="hp-input">
          </div>
        </div>
      </div>

      <div class="participant-armor-class" [class.odd]="i % 2 === 0">
        {{participant.armorClass}}
      </div>

      <div class="participant-speed" [class.odd]="i % 2 === 0">
        {{participant.speed}}
      </div>

      <div class="participant-conditions conditions-list" [class.odd]="i % 2 === 0">
        <div class="condition" *ngFor="let condition of (getConditions(participant.conditionIds) | async)">
          <app-color-value [color]="condition.color" [showEmpty]="false"></app-color-value>
          <div>{{condition.name}}</div>
        </div>
      </div>

      <div class="participant-vulnerabilities damage-types-list" [class.odd]="i % 2 === 0">
        <div class="damage-type" *ngFor="let damageType of (getDamageTypes(participant.vulnerabilityIds) | async)">
          <app-color-value [color]="damageType.color" [showEmpty]="false"></app-color-value>
          <div>{{damageType.name}}</div>
        </div>
      </div>

      <div class="participant-immunities damage-types-list" [class.odd]="i % 2 === 0">
        <div class="damage-type" *ngFor="let damageType of (getDamageTypes(participant.immunityIds) | async)">
          <app-color-value [color]="damageType.color" [showEmpty]="false"></app-color-value>
          <div>{{damageType.name}}</div>
        </div>
      </div>

      <div class="participant-resistances damage-types-list" [class.odd]="i % 2 === 0">
        <div class="damage-type" *ngFor="let damageType of (getDamageTypes(participant.resistanceIds) | async)">
          <app-color-value [color]="damageType.color" [showEmpty]="false"></app-color-value>
          <div>{{damageType.name}}</div>
        </div>
      </div>

      <div class="advantages" [class.odd]="i % 2 === 0">
        <textarea 
          [ngModel]="participant.advantages"
          (blur)="changeAdvantages(participant, $event.target.value)"
          class="advantages-input"></textarea>
      </div>

      <div class="participant-comments" [class.odd]="i % 2 === 0">
        <textarea 
          [ngModel]="participant.comments"
          (blur)="changeComments(participant, $event.target.value)"
          class="comments-input"></textarea>
      </div>
    </ng-container>
  </div>
</div>