
@import '../../../assets/scss/partials/colors';

.encounter-name {
  display: inline-block;
  border-bottom: 1px solid $blue;
  font-size: 2rem;
  font-weight: 600;
  color: $blue;
  margin: 0 0 2rem 1rem;
}

.buttons {
  padding-left: 1rem;

  &>* {
    margin-right: 1rem;
  }

  button {
    cursor: pointer;
  }
}

.next-move-button,
.summon-button,
.generate-ini-button {
  border: 1px solid $blue;
  background-color: $blue;
  color: white;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  margin-bottom: 1rem;

  fa-icon {
    margin-right: 0.5rem;
  }

  &:disabled {
    background-color: white;
    border-color: grey;
    color: grey;
    cursor: default;
  }
}

.summon-popup {
  display: flex;
  flex-direction: column;

  max-height: 75vh;
  overflow: auto;

  .popup-buttons {
    display: flex;
  }
}

.add-summon {
  color: grey;
  font-size: 1.5rem;
  text-align: center;
}

.participants-list {
  font-size: 0.8rem;

  display: grid;
  grid-template-columns: 2rem repeat(9, max-content) repeat(2, 10rem);

  &>* {
    padding: 0.5rem;
  }
}

.column-header {
  font-weight: 600;
  border-bottom: 2px solid grey;
  background-color: white;

  position: sticky;
  top: 0;
  z-index: 10;
}

.odd {
  background-color: $lightgrey;
}

.active-participant-marker {
  grid-column: 1;
  display: flex;
  flex-direction: column;
}


.participant-name {
  display: flex;
}

.participant-hp {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hp-buttons {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  
  button {
    border: 1px solid gray;
    background-color: transparent;
    font-size: 0.8rem;
    cursor: pointer;
  }

  .heal-button {
    color: green;
  }

  .dmg-button {
    color: red;
  }

  .dmg-input {
    width: 3rem;
    text-align: center;
  }
}

.hp-values {
  margin-bottom: 1rem;
  display: flex;

  .hp-input {
    width: 3rem;
    border: 1px solid transparent;
    background-color: transparent;
    margin: 0 0.25rem;
    text-align: center;

    &:focus,
    &:active,
    &:hover {
      border: 1px solid lightgray;
    }
  }
}

.armor-class,
.speed {
  cursor: pointer;
}

.tmp-value-popup {
  display: flex;

  .tmp-value-input {
    width: 3rem;
    text-align: center;
  }

  .tmp-popup-button {
    margin-left: 0.5rem;
    border: 1px solid $blue;
    background-color: $blue;
    color: white;
    cursor: pointer;

    &:hover {
      color: $blue;
      background-color: white;
    }
  }
}

.dropdown-selected-icon {
  background-color: white;

  .ng-value-icon {
    color: white;
    border-color: white !important;
  }

  &:hover {
    .ng-value-icon {
      color: black;
      border-color: grey !important;
    }
  }
}

.selected-condition-label,
.condition-option,
.selected-damage-type-label,
.damage-type-option {
  display: flex;
  font-size: 0.8rem;
}

.conditions-dropdown-footer,
.damage-types-dropdown-footer {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
}

.fields-row {
  display: flex;
}

.new-condition-input,
.new-damage-type-input {
  width: 4rem;
  border: none;
  border-bottom: 1px solid grey;
  background-color: transparent;
}

.new-condition-button,
.new-damage-type-button {
  border: none;
  background-color: transparent;
  font-weight: 600;
  cursor: pointer;

  &:hover {
    color: $blue;
  }
}

.advantages-input,
.comments-input {
  border: 1px solid transparent;
  background-color: transparent;
  width: 9rem;

  &:hover,
  &:focus,
  &:active {
    border-color: lightgray;
  }
}

.view-conditions,
.view-damage-types {
  position: relative;

  display: flex;
  flex-direction: column;


  &:hover {
    .edit-participant-field-button {
      cursor: pointer;
  
      fa-icon {
        color: black;
    
        &:hover {
          color: $blue;
        }
      }
    }
  }
}

.view-condition,
.view-damage-type {
  display: flex;
}

.edit-participant-field-button,
.save-participant-field-button {
  position: absolute;
  top: -0.45rem;
  right: -0.45rem;
  z-index: 2;

  border: none;
  background-color: transparent;

  fa-icon {
    color: transparent;
  }
}

.save-participant-field-button {
  fa-icon {
    color: black;
    cursor: pointer;
  
    &:hover {
      color: $blue;
    }
  }
}

.edit-conditions,
.edit-damage-types {
  position: relative;
  width: 10rem;
  padding-right: 0.8rem;
}
