<div class="encounter-play-view">
  <div *ngIf="(encountersLoading$ | async) ||
            (participantTemplatesLoading$ | async) ||
            (participantsLoading$ | async) ||
            (damageTypesLoading$ | async) ||
            (conditionsLoading$ | async) ||
            (featuresLoading$ | async)
            ;else loaded">Loading...</div>

  <ng-template #loaded>

    <div class="encounter-name">
      {{encounter.name}}
    </div>

    <div class="tab-buttons">
      <button class="tab-button" [class.active]="activeView === 'details'" (click)="switchActiveView('details')">
        Details
      </button>
      <button class="tab-button" [class.active]="activeView === 'map'"  (click)="switchActiveView('map')">
        Map
      </button>
    </div>

    <div
        class="tab-screen-view" 
        [class.hidden]="activeView !== 'details'">
        <div class="buttons">
          <button type="button" class="next-move-button" (click)="nextMove()" [disabled]="hasMissingInitiatives()">
            <fa-icon [icon]="activeParticpantIcon"></fa-icon>
            {{ encounter.activeParticipantId == null ? 'First move' : 'Next move' }}
          </button>
      
          <app-popup 
              [floating]="true"
              [resizable]="true"
              [showCloseButton]="true" 
              windowName="Summon new participant">
            <ng-template #popupToggleTemplate let-toggle=toggle>
              <button type="button" class="summon-button" (click)="toggle()">Summon!</button>
            </ng-template>
      
            <ng-template #popupInsidesTemplate let-hide="hide">
              <div class="summon-popup">
                <div class="popup-buttons">
                  <button 
                      type="button" 
                      class="summon-button" 
                      (click)="addSummonToTheGame(); hide();"
                      [disabled]="summonedParticipant == null">Summon!</button>
                </div>
      
                <app-encounter-participant 
                    *ngIf="summonedParticipant != null;else addSummon"
                    [participant]="summonedParticipant"
                    (delete)="summonedParticipantRemoved()"
                    (participantChanged)="summonedParticipantChanged($event)"
                ></app-encounter-participant>
                <ng-template #addSummon>
                  <div class="add-summon">Choose a summon</div>
                </ng-template>
      
                <app-add-participants-view
                  (onParticipantAdded)="addParticipant($event)"
                ></app-add-participants-view>
              </div>
            </ng-template>
          </app-popup>
      
          <button 
              *ngIf="hasMissingInitiatives()"
              type="button" 
              class="generate-ini-button" 
              (click)="generateMissingInitiatives()">
            Generate missing initiatives
          </button>

          <label>
            <input type="checkbox" name="showDead" [(ngModel)]="showDeadParticipants">
            Show dead
          </label>
        </div>
      
        <div class="participants-list">
          
          <!-- Headers -->
      
          <div class="column-header">
            <!-- Active player marker -->
          </div>
          <div class="column-header">
            Name
          </div>
          <div class="column-header">
            Ini
          </div>
          <div class="column-header">
            HP
          </div>
          <div class="column-header">
            AC
          </div>
          <div class="column-header">
            Spd
          </div>
          <div class="column-header">
            Conditions
          </div>
          <div class="column-header">
            Vulnerabilities
          </div>
          <div class="column-header">
            Immunities
          </div>
          <div class="column-header">
            Resistances
          </div>
          <div class="column-header">
            Features
          </div>
          <div class="column-header">
            Advantages
          </div>
          <div class="column-header">
            Comments
          </div>
      
          <!-- internals -->
      
          <ng-container *ngFor="let participant of (allParticipants$ | async); let i = index">
            <ng-container *ngIf="!isDead(participant) || showDeadParticipants">
              <div class="active-participant-marker" [class.odd]="i % 2 === 0">
                <fa-icon [icon]="activeParticpantIcon" *ngIf="isActive(participant)"></fa-icon>
                <fa-icon 
                    [icon]="skullIcon" 
                    *ngIf="encounter.activeParticipantId != null && isDead(participant)" 
                    (click)="removeDeadParticipant(participant)"></fa-icon>
              </div>
        
              <div class="participant-name" [class.odd]="i % 2 === 0">
                <app-color-value [color]="participant.color" [showEmpty]="false"></app-color-value>
                <div>{{participant.name}}</div>
              </div>
        
              <div class="participant-ini" [class.odd]="i % 2 === 0">
                {{participant.initiative == null ? 
                    ('??? + ' + participant.initiativeModifier) : 
                    (participant.initiative + participant.initiativeModifier) }} 
              </div>
        
              <div class="participant-hp" [class.odd]="i % 2 === 0">
                
                <div class="hp-values">
        
                  <div class="hp-value-number">
                    <input 
                      type="number"
                      min="0"
                      [ngModel]="participant.currentHp"
                      (ngModelChange)="changeCurrentHp(participant, $event)"
                      class="hp-input">
                  </div>
                  <div class="hp-value-comment">/</div>
                  <div class="hp-value-number">
                    <input 
                      type="number"
                      min="0"
                      [ngModel]="participant.maxHp"
                      (ngModelChange)="changeMaxHp(participant, $event)"
                      class="hp-input">
                  </div> [
                  <div class="hp-value-number">
                    <input 
                        type="number"
                        min="0"
                        [ngModel]="participant.temporaryHp"
                        (ngModelChange)="changeTempHp(participant, $event)"
                        class="hp-input">
                  </div> ]
                </div>
        
                <div class="hp-buttons">
                  <button type="button" class="heal-button" (click)="changeHp(participant, dmgInput.value, true); dmgInput.value = null">
                    Heal
                  </button>
                  <input type="number" min="0" class="dmg-input" #dmgInput>
                  <button type="button" class="dmg-button" (click)="changeHp(participant, dmgInput.value, false); dmgInput.value = null">
                    Damage
                  </button>
                </div>
              </div>
        
              <div class="participant-armor-class" [class.odd]="i % 2 === 0">
                <app-popup
                  [showCloseButton]="true" 
                  windowName="Temp value"
                >
                  <ng-template #popupToggleTemplate let-toggle=toggle>
                    <div class="armor-class" (click)="toggle()">
                      {{participant.temporaryArmorClass || participant.armorClass}}{{ participant.temporaryArmorClass ? '*' : '' }}
                    </div>
                  </ng-template>
            
                  <ng-template #popupInsidesTemplate let-hide="hide">
                    <div class="tmp-value-popup">
                      <input type="number" min="0" class="tmp-value-input" [value]="participant.temporaryArmorClass" #tmpArmorClass>
                      <button
                        type="button"
                        class="tmp-popup-button"
                        (click)="setTmpArmorClass(participant, tmpArmorClass.value)"
                      >Set</button>
                      <button
                        type="button"
                        class="tmp-popup-button"
                        (click)="setTmpArmorClass(participant, null)"
                      >Reset</button>
                    </div> 
                  </ng-template>
                </app-popup>
        
                <!-- {{participant.armorClass}} -->
              </div>
        
              <div class="participant-speed" [class.odd]="i % 2 === 0">
                <!-- {{participant.speed}} -->
                <app-popup
                  [showCloseButton]="true" 
                  windowName="Temp value"
                >
                  <ng-template #popupToggleTemplate let-toggle=toggle>
                    <div class="speed" (click)="toggle()">
                      {{participant.temporarySpeed || participant.speed}}{{ participant.temporarySpeed ? '*' : '' }}
                    </div>
                  </ng-template>
            
                  <ng-template #popupInsidesTemplate let-hide="hide">
                    <div class="tmp-value-popup">
                      <input type="number" min="0" class="tmp-value-input" [value]="participant.temporaryArmorClass" #tmpSpeed>
                      <button
                        type="button"
                        class="tmp-popup-button"
                        (click)="setTmpSpeed(participant, tmpSpeed.value)"
                      >Set</button>
                      <button
                        type="button"
                        class="tmp-popup-button"
                        (click)="setTmpSpeed(participant, null)"
                      >Reset</button>
                    </div> 
                  </ng-template>
                </app-popup>
              </div>
        
              <div class="view-items" [class.odd]="i % 2 === 0">
                <div class="view-item" *ngFor="let condition of (getConditions(participant.conditionIds) | async)">
                  <app-popup
                    [showCloseButton]="true" 
                    [windowName]="condition.name"
                    [floating]="true"
                  >
                    <ng-template #popupToggleTemplate let-toggle=toggle>
                      <div class="view-condition">
                        <app-color-value [color]="condition.color" [showEmpty]="false"></app-color-value>
                        <span (click)="toggle()">{{condition.name}}</span>
                      </div>
                    </ng-template>
                    <ng-template #popupInsidesTemplate>
                      <div class="condition-description">
                        {{condition.description}}
                      </div>
                    </ng-template>
                  </app-popup>
                  <button class="delete-item-button" (click)="onDeleteCondition(participant, condition.id)">
                    <fa-icon [icon]="deleteIcon"></fa-icon>
                  </button>
                </div>
                <app-select-list
                    windowName="Add Conditions"
                    [toggleIcon]="addIcon"
                    [hidingIcon]="false"
                    [items]="getUnselectedConditions((allConditions$ | async), participant.conditionIds)"
                    (itemsSelected)="onAddConditions(participant, $event)"
                ></app-select-list>
              </div>
        
              <div class="participant-vulnerabilities damage-types-list" [class.odd]="i % 2 === 0">
                <div 
                    class="view-damage-types"
                    *ngIf="participant.id !== editingParticipantId || editingField !== 'vulnerabilities'; else editVulnerabilities">
                  <div class="view-damage-type" *ngFor="let vulnerability of (getDamageTypes(participant.vulnerabilityIds) | async)">
                    <app-color-value [color]="vulnerability.color" [showEmpty]="false"></app-color-value>
                    {{vulnerability.name}}
                  </div>
        
                  <button 
                      type="button"
                      class="edit-participant-field-button"
                      (click)="onEditField(participant.id, 'vulnerabilities')">
                    <fa-icon [icon]="editIcon"></fa-icon>
                  </button>
                </div>
        
                <ng-template #editVulnerabilities>
                  <div class="edit-damage-types">
                    <button 
                        type="button"
                        class="save-participant-field-button"
                        (click)="onSaveField()">
                      <fa-icon [icon]="faCheck"></fa-icon>
                    </button>
        
                    <ng-select
                      [items]="allDamageTypes$ | async"
                      [multiple]="true"
                      [ngModel]="participant.vulnerabilityIds"
                      (ngModelChange)="changeVulnerabilities(participant, $event)"
                      name="vulnerabilities"
                      bindLabel="name"
                      bindValue="id"
                      [closeOnSelect]="false"
                      [clearable]="false"
                    >
                      <ng-template ng-label-tmp let-item="item" let-clear="clear">
                        <div class="dropdown-selected-icon">
                          <span class="ng-value-label">
                            <div class="selected-damage-type-label">
                              <app-color-value [color]="item.color" [showEmpty]="false"></app-color-value>
                              <span>{{item.name}}</span>
                            </div>
                          </span>
                          <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                        </div>
                      </ng-template>
                      <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                        <div class="damage-type-option">
                          <app-color-value [color]="item.color" [showEmpty]="false"></app-color-value>
                          <span>{{item.name}}</span>
                        </div>
                      </ng-template>
        
                      <ng-template ng-footer-tmp>
                        <div class="damage-types-dropdown-footer">
                          <div class="fields-row">Create new:</div>
                          <div class="fields-row">
                            <app-colors-popup [(ngModel)]="newDamageTypeColor"></app-colors-popup>
                            <input class="new-damage-type-input" type="text" [(ngModel)]="newDamageTypeName">
                          </div>
                          <div class="fields-row">
                            <label>
                              <input type="radio" name="type" [value]="0" [(ngModel)]="newDamageTypeType">DT
                            </label>
                            <label>
                              <input type="radio" name="type" [value]="1" [(ngModel)]="newDamageTypeType">E
                            </label>
                            <button type="button" class="new-condition-button" (click)="addNewDamageType()">
                              <fa-icon [icon]="faCheck"></fa-icon>
                            </button>
                          </div>
                        </div>
                      </ng-template>
                    </ng-select>
                  </div>
                </ng-template>
              </div>
        
              <div class="participant-immunities damage-types-list" [class.odd]="i % 2 === 0">
                <div class="view-item" *ngFor="let damageType of (getDamageTypes(participant.immunityIds) | async)">
                  <app-color-value [color]="damageType.color" [showEmpty]="false"></app-color-value>
                  <span>{{damageType.name}}</span>
                  <button class="delete-item-button" (click)="onDeleteImmunity(participant, damageType.id)">
                    <fa-icon [icon]="deleteIcon"></fa-icon>
                  </button>
                </div>
                <hr *ngIf="(getConditions(participant.immunityIds) | async).length > 0 && (getDamageTypes(participant.immunityIds) | async).length > 0">
                <div class="view-item" *ngFor="let condition of (getConditions(participant.immunityIds) | async)">
                  <app-popup
                    [showCloseButton]="true" 
                    [windowName]="condition.name"
                    [floating]="true"
                  >
                    <ng-template #popupToggleTemplate let-toggle=toggle>
                      <div class="view-condition">
                        <app-color-value [color]="condition.color" [showEmpty]="false"></app-color-value>
                        <span (click)="toggle()">{{condition.name}}</span>
                      </div>
                    </ng-template>
                    <ng-template #popupInsidesTemplate>
                      <div class="condition-description">
                        {{condition.description}}
                      </div>
                    </ng-template>
                  </app-popup>
                  <button class="delete-item-button" (click)="onDeleteImmunity(participant, condition.id)">
                    <fa-icon [icon]="deleteIcon"></fa-icon>
                  </button>
                </div>
                
                <app-select-immunities-list
                    windowName="Add Immunities"
                    [toggleIcon]="addIcon"
                    [hidingIcon]="false"
                    [conditions]="getUnselectedConditions((allConditions$ | async), participant.immunityIds)"
                    [damageTypes]="getUnselectedDamageTypes((allDamageTypes$ | async), participant.immunityIds)"
                    (itemsSelected)="onAddImmunities(participant, $event)"
                ></app-select-immunities-list>
      
              </div>
        
              <div class="participant-resistances damage-types-list" [class.odd]="i % 2 === 0">
                <div 
                    class="view-damage-types"
                    *ngIf="participant.id !== editingParticipantId || editingField !== 'resistances'; else editResistances">
                  <div class="view-damage-type" *ngFor="let resistance of (getDamageTypes(participant.resistanceIds) | async)">
                    <app-color-value [color]="resistance.color" [showEmpty]="false"></app-color-value>
                    {{resistance.name}}
                  </div>
        
                  <button 
                      type="button"
                      class="edit-participant-field-button"
                      (click)="onEditField(participant.id, 'resistances')">
                    <fa-icon [icon]="editIcon"></fa-icon>
                  </button>
                </div>
        
                <ng-template #editResistances>
                  <div class="edit-damage-types">
                    <button 
                        type="button"
                        class="save-participant-field-button"
                        (click)="onSaveField()">
                      <fa-icon [icon]="faCheck"></fa-icon>
                    </button>
                    <ng-select
                      [items]="allDamageTypes$ | async"
                      [multiple]="true"
                      [ngModel]="participant.resistanceIds"
                      (ngModelChange)="changeResistances(participant, $event)"
                      name="resistances"
                      bindLabel="name"
                      bindValue="id"
                      [closeOnSelect]="false"
                      [clearable]="false"
                    >
                      <ng-template ng-label-tmp let-item="item" let-clear="clear">
                        <div class="dropdown-selected-icon">
                          <span class="ng-value-label">
                            <div class="selected-damage-type-label">
                              <app-color-value [color]="item.color" [showEmpty]="false"></app-color-value>
                              <span>{{item.name}}</span>
                            </div>
                          </span>
                          <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                        </div>
                      </ng-template>
                      <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                        <div class="damage-type-option">
                          <app-color-value [color]="item.color" [showEmpty]="false"></app-color-value>
                          <span>{{item.name}}</span>
                        </div>
                      </ng-template>
        
                      <ng-template ng-footer-tmp>
                        <div class="damage-types-dropdown-footer">
                          <div class="fields-row">Create new:</div>
                          <div class="fields-row">
                            <app-colors-popup [(ngModel)]="newDamageTypeColor"></app-colors-popup>
                            <input class="new-damage-type-input" type="text" [(ngModel)]="newDamageTypeName">
                          </div>
                          <div class="fields-row">
                            <label>
                              <input type="radio" name="type" [value]="0" [(ngModel)]="newDamageTypeType">DT
                            </label>
                            <label>
                              <input type="radio" name="type" [value]="1" [(ngModel)]="newDamageTypeType">E
                            </label>
                            <button type="button" class="new-condition-button" (click)="addNewDamageType()">
                              <fa-icon [icon]="faCheck"></fa-icon>
                            </button>
                          </div>
                        </div>
                      </ng-template>
                    </ng-select>
                  </div>
                </ng-template>
              </div>
        
        
              <div class="participant-features features-list" [class.odd]="i % 2 === 0">
                <div 
                    class="view-features"
                    *ngIf="participant.id !== editingParticipantId || editingField !== 'features'; else editFeatures">
        
                  <app-popup
                      *ngFor="let feature of (getFeatures(participant.featureIds) | async)"
                      [showCloseButton]="true" 
                      [windowName]="feature.name"
                      [floating]="true"
                      [resizable]="true"
                  >
                    <ng-template #popupToggleTemplate let-toggle=toggle>
                      <div class="view-feature">
                        <app-color-value [color]="feature.color" [showEmpty]="false"></app-color-value>
                        <span (click)="toggle()">{{feature.name}}</span>
                      </div>
                    </ng-template>
                    <ng-template #popupInsidesTemplate>
                      <div class="feature-description">
                        {{feature.description}}
                      </div>
                    </ng-template>
                  </app-popup>
        
                  <button 
                      type="button"
                      class="edit-participant-field-button"
                      (click)="onEditField(participant.id, 'features')">
                    <fa-icon [icon]="editIcon"></fa-icon>
                  </button>
                </div>
        
                <ng-template #editFeatures>
                  <div class="edit-features">
                    <button 
                        type="button"
                        class="save-participant-field-button"
                        (click)="onSaveField()">
                      <fa-icon [icon]="faCheck"></fa-icon>
                    </button>
        
                    <ng-select
                      [items]="allFeatures$ | async"
                      [multiple]="true"
                      [ngModel]="participant.featureIds"
                      (ngModelChange)="changeFeatures(participant, $event)"
                      name="features"
                      bindLabel="name"
                      bindValue="id"
                      groupBy="type"
                      [closeOnSelect]="false"
                      [clearable]="false"
                    >
                      <ng-template ng-label-tmp let-item="item" let-clear="clear">
                        <div class="dropdown-selected-icon">
                          <span class="ng-value-label">
                            <div class="selected-feature-label">
                              <app-color-value [color]="item.color" [showEmpty]="false"></app-color-value>
                              <span>{{item.name}}</span>
                            </div>
                          </span>
                          <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                        </div>
                      </ng-template>
                      <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                        <div class="condition-option">
                          <app-color-value [color]="item.color" [showEmpty]="false"></app-color-value>
                          <span>{{item.name}}</span>
                        </div>
                      </ng-template>
                    </ng-select>
                  </div>
                </ng-template>
              </div>
        
              <div class="advantages" [class.odd]="i % 2 === 0">
                <textarea 
                  autosize
                  [ngModel]="participant.advantages"
                  (blur)="changeAdvantages(participant, $event.target.value)"
                  class="textarea-input"></textarea>
              </div>
        
              <div class="participant-comments" [class.odd]="i % 2 === 0">
                <textarea 
                  autosize
                  [ngModel]="participant.comments"
                  (blur)="changeComments(participant, $event.target.value)"
                  class="textarea-input"></textarea>
              </div>
            </ng-container>
          </ng-container>
        </div>
    </div>
  
    <div class="tab-screen-view" [class.hidden]="activeView !== 'map'">
      <app-map [encounterId]="encounter.id"></app-map>
    </div>
  </ng-template>
</div>