
@import '../../../assets/scss/partials/colors';

.encounter-name {
  display: inline-block;
  border-bottom: 1px solid $blue;
  font-size: 2rem;
  font-weight: 600;
  color: $blue;
  margin: 0 0 2rem 1rem;
}

.buttons {
  padding-left: 1rem;

  &>* {
    margin-right: 1rem;
  }

  button {
    cursor: pointer;
  }
}

.next-move-button,
.summon-button {
  border: 1px solid $blue;
  background-color: $blue;
  color: white;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  margin-bottom: 1rem;

  fa-icon {
    margin-right: 0.5rem;
  }
}

.participants-list {
  font-size: 0.8rem;

  display: grid;
  grid-template-columns: 2rem repeat(5, max-content) repeat(6, 10rem);

  &>* {
    padding: 0.5rem;
  }
}

.column-header {
  font-weight: 600;
  border-bottom: 2px solid grey;
  background-color: white;

  position: sticky;
  top: 0;
  z-index: 10;
}

.odd {
  background-color: $lightgrey;
}

.participant-name {
  display: flex;
}

.participant-hp {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hp-buttons {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  
  button {
    border: 1px solid gray;
    background-color: transparent;
    font-size: 0.8rem;
    cursor: pointer;
  }

  .heal-button {
    color: green;
  }

  .dmg-button {
    color: red;
  }

  .dmg-input {
    width: 3rem;
    text-align: center;
  }
}

.hp-values {
  margin-bottom: 1rem;
  display: flex;

  .hp-input {
    width: 3rem;
    border: 1px solid transparent;
    background-color: transparent;
    margin: 0 0.25rem;
    text-align: center;

    &:focus,
    &:active,
    &:hover {
      border: 1px solid lightgray;
    }
  }

  // display: grid;
  // grid-template-columns: 4rem 1rem 4rem 4rem;
  // padding: 0 0.5rem;

  // &>* {
  //   text-align: center;
  // }

  // .hp-value-header {
  //   font-size: 0.9rem;
  //   margin-bottom: 0.5rem;
  // }

  // .hp-input {
  //   width: 4rem;
  //   font-size: 1rem;
  //   border: 1px solid transparent;
  //   background-color: transparent;
  //   text-align: center;

  //   &:focus,
  //   &:active,
  //   &:hover {
  //     border: 1px solid lightgray;
  //   }
  // }
}

.active-participant-marker {
  grid-column: 1;
  display: flex;
  flex-direction: column;
}

.dropdown-selected-icon {
  background-color: white;

  .ng-value-icon {
    color: white;
    border-color: white !important;
  }

  &:hover {
    .ng-value-icon {
      color: black;
      border-color: grey !important;
    }
  }
}

.selected-condition-label,
.condition-option,
.selected-damage-type-label,
.damage-type-option {
  display: flex;
  font-size: 0.8rem;
}

.conditions-dropdown-footer,
.damage-types-dropdown-footer {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
}

.fields-row {
  display: flex;
}

.new-condition-input,
.new-damage-type-input {
  width: 4rem;
  border: none;
  border-bottom: 1px solid grey;
  background-color: transparent;
}

.new-condition-button,
.new-damage-type-button {
  border: none;
  background-color: transparent;
  font-weight: 600;
  cursor: pointer;

  &:hover {
    color: $blue;
  }
}

.advantages-input,
.comments-input {
  border: 1px solid transparent;
  background-color: transparent;
  width: 9rem;

  &:hover,
  &:focus,
  &:active {
    border-color: lightgray;
  }
}