
@import '../../../assets/scss/partials/colors';
@import '../../../assets/scss/partials/shared';

.name-filter {
  margin-top: 1rem;
  max-width: 16.5rem;
}

.conditions-table {
  display: grid;
  grid-template-columns: 1rem max-content 2rem;
  column-gap: 1rem;
  row-gap: 0.5rem;
  margin: 1rem 0;
}

