@import '../../../../assets/scss/partials/colors';
@import '../../../../assets/scss/partials/shared';

.templates-list {
  width: 20rem;
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}
