@import '../../../../assets/scss/partials/colors';
@import '../../../../assets/scss/partials/shared';

.new-feature-form {
  display: flex;
  flex-direction: column;
  &>* {
    margin: 0.5rem 0;
  }

  .color-picker,
  .name,
  .type,
  .description {
    display: flex;
  }
}

.feature-types-dropdown {
  min-width: 10rem;
}

.edit-features-standalone {
  margin: 0;

  .new-feature-form {
    flex-direction: row;
    align-items: flex-start;
    &>* {
      margin: 0;
      margin-right: 0.5rem;
    }  
  }
}