<div class="encounter-participants-view">
  <div>
    <button 
        type="button"
        class="generate-ini-button"
        (click)="generateInitiatives()">
        <fa-icon [icon]="rollIcon"></fa-icon>
      Roll empty initiatives
    </button>
  </div>
  <div class="encounter-participants-header">Added participants</div>
  <app-encounter-participants-list 
      [participants]="addedParticipants"
      (participantChanged)="changeParticipant($event)"
      (participantDeleted)="deleteParticipant($event)">
  </app-encounter-participants-list>
</div>