<h2>Release notes</h2>

<h3>v0.5 - 16.01.2020</h3>
<ul>
  <li>Добавила аватарки</li>
  <li>Добавила размер игрока/монстра на карте</li>
</ul>

<h3>v.04 - 15.01.2020</h3>
<ul>
  <li>Прикрутила карты</li>
</ul>
<h3>v.03 - 13.01.2020</h3>
<ul>
  <li>
    Если encounter name пустой при создании, показывать ошибку
  </li>
  <li>
    В список immunities добавлены conditions
  </li>
  <li>
    Если инициатива не нагенерена в окне play, в поле ini показывается '???'
  </li>
  <li>Добавлены типы для фич</li>
</ul>

<h3>v0.2 - 17.12.2019</h3>
<ul>
  <li>Прикрутила фичи</li>
  <li>Прикрутила описание к кондишенам</li>
  <li>в Play mode можно тыкать в фичи и кондишены, будет попап с описанием</li>
  <li>Сделала табы в damage types/effects и players/monsters setup вместо двух разных вариантов таблиц</li>
  <li>Пофиксила баг с чужим энкаунтером в списке</li>
  <li>Больше не помню</li>
</ul>


<p>Привет!</p>
<p>
  Надо фидбек на всё! Стили я пока особо не делала, но если что-то прям очень неудобно, надо фидбек.
</p>

<p>
Сначала во вкладку setup
</p>
<p>
1. Заводим кондишены. Новый через кнопку Add new. Менять существующие прям внутри списка. Удалять крестиком.
</p>
<p>
2. Заводим damage types & effects. 
Там на страничке два варианта - либо все в одной таблице с колонкой type, либо по очереди сначала damage types потом effects, но тогда без колонки.
В первом варианте чтобы фильтровать по имени или по типу надо в хедере колонки тыкать фильтр и заполнять.
Во втором варианте вводишь текст в search input и список фильтруется. Нужен фидбек как лучше! 
</p>
<p>
Всё как в кондишенах - добавляем новый кнопкой add new. Менять существующие внутри списка. Удалять крестиком. 
Изменение типа я не делала, не думала, что прям надо. Надо? Нужен фидбек! 
</p>
<p>
3. Заводим шаблоны монстров и игроков. 
Там тоже два варианта таблички, так же как в damage types - все вместе или игроки отдельно мухи отдельно. Как лучше? Нужен фидбек! 
Чтобы сортировать можно жать на хедеры или на стрелочки возле хедеров. 
</p>
<p>
В страничке с заведением шаблона есть два варианта выпадающих списков для иммунитетов и тп - просто списки и с иконками вкл выкл а ля как в dnd beyond (в поле immunities). 
Нужен фидбек! имхо и так видно что вкл, не за чем загромождать.
</p>
<p>
Изменение шаблона я пока не сделала тк ленивая жопа. Удаление крестиком в табличке. 
</p>
<p>
Теперь можно заводить энкаунтер! 
</p>
<p>
1. Добавляем игроков и монстров из разных вкладок а ля как dnd beyond. Могу в принципе один общий список на всех сделать. Нужен фидбек! 
</p>
<p>
В списке добавленных игроков справа можно их тут же поменять кнопкой шестеренки (внутренности тоже можно все менять если развернуть строчку). 
Когда изменения готовы надо нажать галочку сохранить. (там еще отмена есть стрелочкой).
</p>
<p>
Генерить инициативу можно отдельно каждому черной кнопкой с дайсом возле поля инициативы (или можно просто руками ее тут вбить какую нравится),
или всем сразу нагенерить большой синей кнопкой сверху. 
</p>
<p>
Список добавленных игроков и монстров сейчас отдельно, но могу их всех в один список класть. Нужен фидбек!
</p>
<p>
Кнопка save сохраняет и идет в окно списка. 
Кнопка play сохраняет и идет в окно энкаунтера играть. 
</p>
<p>
2. В окне списка можно изменить (иконкой шестеренки), пойти в окно энкаунтера играть (кнопкой плей) и удалить крестиком.
</p>
<p>
3. Окно запустить энкаунтер. Я постаралась его как можно меньше сделать, чтобы он в экран влезал. Нужен фидбек! 
</p>
<p>
Чтобы появился маркер активного игрока нужно нажать First move. Потом будет next move, он двигает маркер по кругу. 
</p>
<p>
Кнопка summon докидывает еще игрока, но мне надо знать с какой инициативой это делать? Нужен фидбек! :Р 
</p>
<p>
Я сделала hp как в днд бейонд более менее. Можно делать damage/heal, в поле вводится положительное число. Нужен фидбек! 
Можно hp/maxhp/temp прям руками менять вместо кнопок damage/heal, если оч хочется. 
</p>
<p>
Чтобы менять то что в списках кондишенов и иммунитетов и тп нужно навести на cell мышь, и в верхнем правом углу будет иконка с шестеренкой. 
(если клетка пустая, надо прям к углу подвести, но я не хотела чтобы эти шестеренки все время на экране маячили.. Нужен фидбек!)
Можно создавать новые кондишены и дамаг типы прям из дропдауна! 
Когда закончила менять надо нажать на галочку, и вид поменяется обратно на нормальный вместо дропдауна
</p>
<p>
Advantages я сделала текстом, я не поняла че это такое) Если хочешь могу чекбокс сделать? Нужен фидбек! 
</p>
<p>
Advantages и comments можно просто менять прям в таблице, они сохранятся когда кликнешь где-нибудь снаружи. 
</p>